# image docker pour les jobs du pipeline
image: bitnami/dotnet-sdk:3.1-debian-11

stages:
  - testing
  - building

# nom de job: valeur arbitraire
test:
  stage: testing
  # tag correspondant au runner
  tags:
    - myusine
  # liste des commandes à exécuter
  script:
    - echo "Test"


build:
  stage: building
  # commandes de préparation du job
  #before_script:
  #  - apt-get update -qq && apt-get install tree -y 
  tags:
    - myusine
    # commande du job
  script:
    - dotnet build
    - >
      mv 
      ./usine_s3/bin/Debug/netcoreapp3.1/usine_s3 
      ./usine_s3/bin/Debug/netcoreapp3.1/usine_s3.exe
    - dotnet exec ./usine_s3/bin/Debug/netcoreapp3.1/usine_s3.exe