# image docker pour les jobs du pipeline
image: bitnami/dotnet-sdk:6-debian-11

# nom de job: valeur arbitraire
test:
  # tag correspondant au runner
  tags:
    - myusine
  # liste des commandes à exécuter
  script:
    - dotnet build
    - ls -al usine_s3

build:
  tags:
    - myusine
  script:
    - echo "Build"