# image docker pour les jobs du pipeline
image: bitnami/dotnet-sdk:3.1-debian-11

stages:
  - testing
  - building
  - deploying

# nom de job: valeur arbitraire
test:
  stage: testing
  # tag correspondant au runner
  tags:
    - myusine
  # liste des commandes à exécuter
  script:
    - echo "Test"


build:
  stage: building
  # commandes de préparation du job
  #before_script:
  #  - apt-get update -qq && apt-get install tree -y 
  tags:
    - myusine
  script:
    - dotnet build
  # prélèvement des fichiers/dossiers générés dans le job
  # pour téléchargement depuis gitlab
  # pour transmission aux jobs suivants
  artifacts:
    expire_in: 1 hour
    paths:
      - ./usine_s3/bin/Debug/netcoreapp3.1/

deploy:
  stage: deploying
  tags:
    - myusine
  script:
    - dotnet exec ./usine_s3/bin/Debug/netcoreapp3.1/usine_s3.dll
  # règles d'exécution du job
  rules:
    # le job s'exécute si au moins une règle est vraie
    # OU logique
    # utilisation de variables d'environnement prédéfinies
    # - if: $CI_COMMIT_BRANCH == "master"
    # une règle est vraie si toutes ses clauses sont vraies
    # ET logique
    - if: $CI_COMMIT_TAG
      when: manual